@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
.login-form-wrapper *{
  font-family: 'Space Mono', monospace !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    letter-spacing: 1.2px !important;
    line-height: 22px !important;
    text-transform: uppercase!important;
}

.btn.btn-default  {
  background-color:white!important; 
}
.logo-image {
  text-align: -webkit-center;
  width: 30%;
  display:none;
}
form[data-form-type="login"]{
  text-align:center!important;
}

form[data-form-type="login"]::before {
  content:"MINOR FIGURES > ATOMISED > PARTNERSHIP"!important;
  color: black!important;
  margin-bottom:25px!important;
  display:block!important;
}

div[ng-form="loginFields"]{
  margin-top:35px;
}
.custom-auth-body {
  background: white!important;
}

input[type="password"], input[type="text"] {
  max-height: 35px;
  min-height: 35px;
  border: 1px solid black!important;
  border-radius: 0px!important;
  color:black;
}

.custom-auth .auth-container .login-form-wrapper .btn {
  max-height: 35px;
  width: 100%;
  min-height: 35px;
}
body > div.ng-scope > div > div > div.custom-auth.ng-scope > div > div > div > form {
  margin-bottom:0px;
}

.form-group {
  margin-bottom: 8px!important;
}
body > div.ng-scope > div > div > div.custom-auth.ng-scope > div > div > div > form > div > div:nth-child(1) {
  margin-top:35px;
}

/*
body > div.ng-scope > div > div > div.custom-auth.ng-scope > div > div > div > form > div > div:nth-child(1)::before {
  content:"MINOR FIGURES > ATOMISED > PARTNERSHIP"!important;
  color: black!important;
  margin-bottom:35px!important;
  display:block!important;
}*/
