@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
.login-form-wrapper *{
  font-family: 'Space Mono', monospace !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    letter-spacing: 1.2px !important;
    line-height: 22px !important;
    text-transform: uppercase!important;
}

.btn.btn-default  {
  background-color:white!important; 
}
.logo-image {
  text-align: -webkit-center;
  width: 30%;
}
form.ng-pristine.ng-valid{
  text-align:center;
}
.form.ng-pristine.ng-valid::before {
  content:"MINOR FIGURES > ATOMISED > PARTNERSHIP";
  color: black;
}
div[ng-form="loginFields"]{
  margin-top:35px;
}
.custom-auth-body {
  background: white!important;
}

input {
  max-height: 35px;
  min-height: 35px;
  border: 1px solid black!important;
    border-radius: 0px;
}
