@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body, h1, p, ul, li, a {
    font-family: 'Space Mono', monospace !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    letter-spacing: 1.2px !important;
    line-height: 22px !important;
    text-transform: uppercase!important;
    background-color: white;
    color:black;

}
body {
        padding: 0px 10px;
        max-width: 455px;
}

h1 {
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px;
    text-align: left;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: #454545;
}
