@media (max-width: 767px) {

  body > div.ng-scope > div.ng-scope.custom-portal > div.tmz_menu_button > svg > path {
    fill:black!important;
    
  }
  body > div.ng-scope > div.ng-scope.custom-portal > div:nth-child(1) {
    background-color:white;
  }
  .custom-portal .portal-content .portal-right-col .tmz-col .ga-stat-box-one {
    color:black!important;
    background-color:white!important; 
    border:1px;
    border-color:black; 
    border-radius:0px;
    border-style:solid;
  }
  .custom-portal .portal-content .portal-right-col .tmz-col .ga-stat-box-one i {
    background:none;
    color:black!important;
    background-color:white;
  }
}
.ga-stat-box-one {
  border: 1px solid black!important;
  border-radius: 0px;
}

.ga-stat-box-one i {display:none!important;}

body > div.ng-scope > div.ng-scope.custom-portal > div.portal-content > div > div > div.portal-right-col.col-sm-9.col-lg-10.no-padding > div.portal-right-col-content.campaign-bar > div > div.profile-section.profile-monetary-stats.ng-scope > div > div:nth-child(3) > div > i{
  display:none!important;
}

body > div.ng-scope > div.ng-scope.custom-portal > div.portal-content > div > div > div.portal-right-col.col-sm-9.col-lg-10.no-padding > div.portal-right-col-content.campaign-bar > div > div.profile-section.profile-monetary-stats.ng-scope > div > div:nth-child(1) > div > i {
  display:none!important;
}

body > div.ng-scope > div.ng-scope.custom-portal > div.portal-content > div > div > div.portal-right-col.col-sm-9.col-lg-10.no-padding {
  background-color:white!important;
}


.custom-portal .portal-content .portal-left-col .ambassador-nav li a.active {
  font-style: italic!important;
}
