@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.ng-scope.custom-portal * {
  font-family: 'Space Mono', monospace !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  letter-spacing: 1.2px !important;
  line-height: 22px !important;
  text-transform: uppercase!important;
  border-color: black!important;
  border-width: 1px!important;
  border-radius: 0px!important;
}


@media (min-width: 768px) and (max-width: 1199px) {
  .portal-right-col {
    width: 70%!important;
  }
  .portal-left-col {
    width: 30%!important;
  }
  .ga-stat-box-one {
    display: flex!important;
    justify-content: space-between!important;
    height: 35px!important;
  }
  .ga-stat-box-one i {
    margin: 0px!important;
  }
  .stat-title.ng-binding {
    text-align: left;
    width: 100%;
  }
  .custom-portal .portal-left-col {
    right: 0!important;
    left: 0!important;
  }
  .ga-stat-box-one {
    border: 1px solid black!important;
    border-radius: 0px;
    padding: 6px 20px!important;
}
}

@media (min-width: 1200px) {
  .portal-right-col {
    width: 70%!important;
  }
  .portal-left-col {
    width: 30%!important;
  }
  .ga-stat-box-one {
    border: 1px solid black!important;
    border-radius: 0px;
    padding: 6px 20px!important;
}
}

/* Styles for viewports less than 768px */
@media (max-width: 767px) {
  .nav.nav-pills.nav-stacked.ambassador-nav.mobile_show * {
    color:black!important;
  }
  body > div.ng-scope > div.ng-scope.custom-portal > div.tmz_menu_button > svg > path {
    fill:black!important;
    
  }
  body > div.ng-scope > div.ng-scope.custom-portal > div:nth-child(1) {
    background-color:white;
  }
  .custom-portal .portal-content .portal-right-col .tmz-col .ga-stat-box-one {
    color:black!important;
    background-color:white!important; 
    border:1px;
    border-color:black; 
    border-radius:0px;
    border-style:solid;
  }
  .custom-portal .portal-content .portal-right-col .tmz-col .ga-stat-box-one i {
    background:none;
    color:black!important;
    background-color:white;
  }
  #share-button {
    color:black!important; 
    background:none!important;
    border: 1px solid black!important;
    border-radius: 0px!important;
  }
  .share-widget.profile-section, .share-widget-container.ng-scope, .dropdown-toggle.btn.btn-default.ng-binding {
    border-radius:0px!important;
  }
  .custom-portal .portal-content .portal-right-col .share-widget-container {
    border-top: 1px solid black;
    border-bottom:1px solid black;;
    background-color:white;
    border-radius:0px;
    margin-left:7px;
  }
  .nav.navbar-nav {
    display: none!important;
  }
  .tmz_menu_button {
    left:unset!important; 
    right:0px;
    top:6px!important;
    transform: rotate(180deg);
  }
  .icon-mp-dashboard, .icon-mp-refer, .icon-mp-loyalty, .icon-mp-assets, .icon-mp-logout {
    display:none!important;
  }

  .tmz_back_button {
    background: black;
    filter:invert(1);
  }
  .tmz_back_button sgv {
     -webkit-filter: invert(100%);
     filter: invert(100%);
     fill:black!important;
  }

  .custom-portal .portal-left-col {
    right:0px!important;
  }

  .ga-stat-box-one {
    border: 1px solid black!important;
    border-radius: 0px;
    padding: 6px 20px!important;
  }
  .generic-portal footer {
    background:white!important;
    padding:10px 0px!important;
  }
  .generic-portal footer p, .custom-portal footer p {
    text-align: left!important;
    color: black!important;
  }
  .custom-portal footer {
  background-color:white!important;
  }
  .glyphicon.glyphicon-share-alt, .fa.fa-files-o {
    display:none;
  }
  ga-activity-feed .activity-feed-container .activity .col-xs-12 {
    border: 1px solid black; 
    border-radius: 0px;
    background:white!important;
    color:black!important;
  }
}

@media (max-width: 415px) {
  .ga-stat-box-one {
      border: 1px solid black!important;
      border-radius: 0px;
      padding: 0px 6px!important;
  }
}

 /* GLOBAL STYLING */
.text-center.activity-icon.activity-icon-share.activity-icon-left {
  color:black!important;
}

.fa.fa-caret-down {
  font-family:'FontAwesome'!important;
}

.raf-landing-body button em svg {
  display:none;
}
button[type="button"] {
  color: white!important;
  background: black!important;
  border: none!important;
  height: 35px!important;
}
.btn-primary {
  color: white!important;
  background: black!important;
  border: none!important;
  height: 35px!important;
}

 .avatar-upload.ng-scope {
  display:none!important;
 }

 .triangle-with-shadow:after{
  border:1px solid black!important;
 }

 .text-center activity-icon.activity-icon-ambassador.activity-icon-left, .icon-ambassador {
  color: black!important;
 }

.header-left.desktop_show::before {
  content: "MINOR FIGURES > ATOMISED > PARTNERSHIP";
  display: block;
}

.ga-stat-box-one i {
  display:none!important;
}

.portal-right-col-content.campaign-bar {
  background-color:white;
}

portal-content * {
  font-size:12px!important;
}

.ga-avatar {
  display:none;
}

.custom-portal .portal-content .portal-left-col .ambassador-nav li a.active {
  font-style: italic!important;
}

.generic-portal .portal-content .portal-left-col .ambassador-nav li a, .custom-portal .portal-content .portal-left-col .ambassador-nav li a  {
  height:56px!important;
  padding-left: 20px!important;
}
.ambassador*{
  color:black;
}
.header-left.desktop_show::before {
  content:"MINOR FIGURES > ATOMISED > PARTNERSHIP";
  display:block;
  color:black!important;
}

.header-left.desktop_show {
  display: flex!important;
  align-items: center;
  width: 100%;
}

.ambassador-social.desktop_show {
  display:none;
}

.dropdown-toggle {
  height:35px!important;
  padding: 6px 13px 8px 16px!important;
  background-color: black!important;
  border-radius: 0px!important;
}

.dropdown {
  border-radius: 0px!important;
  background-color: transparent!important;
}

.dropdown-menu {
  background-color:black!important;
  border-radius: 0px!important;

}

.dropdown-menu li a {
  border-radius: 0px!important;
  background-color:black!important;
}
body > div.ng-scope > div.ng-scope.custom-portal > div:nth-child(1) > div > div {
  display: flex;
  align-items: center;
}

.campaign-chooser.ng-scope {
  display:flex!important;
  background-color:white!important;
}

.campaign-chooser.ng-scope span{
  margin-right:auto!important;
  padding-left:20px!important;
}

.raf-landing-body button {
  color: white!important;
  background: black!important;
  border-radius: 1px!important;
  max-height: 35px!important;
}

ga-avatar {
  display: none!important;
}

body > div.ng-scope > div.ng-scope.custom-portal > div.portal-content > div > div > div.portal-right-col.col-sm-9.col-lg-10.no-padding > div.portal-right-col-content.campaign-bar > div > div.share-widget-container.ng-scope > div.share-widget.profile-section > div:nth-child(1) > div > p {
  display: none!important;
}

.icon-portal, .icon-growth, .icon-commissions, .icon-resources, .fa.fa-facebook, .fa.fa-twitter, .fa.fa-linkedin, .fa.fa-tumblr, .fa.fa-pinterest, .fa.fa-info{
  display: none!important;
}
.profile-section.profile-social-stats.desktop_show.ng-scope {
  display:none!important;
}
input[type="text"], input[type="password"], input[type="email"], select {
  height:35px!important;
}
.container-fluid {
  background:white;
}

iframe {
  border:0px;
}

/* profile remove sections */
div[ng-if="payoutPreferenceOptions"] {
  display:none!important;
}
ga-form-field[model="notificationSettings.notify_fulfilled_payout"],ga-form-field[model="notificationSettings.notify_denied_commission"],ga-form-field[model="notificationSettings.notify_approved_commission"],ga-form-field[model="notificationSettings.notify_pending_commission"],ga-form-field[model="ambassador.username"], .deactivate-btn {
  display:none!important;
}
body > div.ng-scope > div.ng-scope.custom-portal > div.portal-content > div > div > div.portal-right-col.col-sm-9.col-lg-10 > div.portal-right-col-content.campaign-bar > div > div > div.form-container > div:nth-child(4) > div > div > p {display:none;}
